html, body {
    border: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.elapsed-time {
    text-align: center;
    color: #333;
    font-size: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.board {
    position: fixed;
    left: 50%;
    top:  40%;
    margin-left: calc(0.4 * -720px);
    margin-top:  calc(0.4 * -720px);
}

div.paused {
    text-align: center;
    width: 10em;
    height: 5em;
    line-height: 5em;
    font-size: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -5em;
    margin-top: -2.5em;
    display: none;
}

body.paused .board {
    display: none;
}

body.paused div.paused {
    display: block;
}

.numbers {
    position: fixed;
    bottom: 0;
    left: 50%;
    /* 211px width */
    margin-left: -105px;
}

.number {
    display: inline-block;
    text-align: center;
    width: 4em;
    height: 3.5em;
    background-color: #DDD;
    margin: 0.2em;
    padding-top: 0.5em;
    padding-bottom: -0.5em;
    border-radius: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.number:hover,
.action:hover {
    background-color: #FDD;
}

.number-value {
    font-size: 32px;
}

.number-count {
    font-size: 14px;
}

.actions {
    position: fixed;
    top: 50%;
    right: 0;
    /* 414px height */
    margin-top: -207px;
}

.action {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: center;
    width: 4em;
    height: 3em;
    line-height: 3em;
    font-size: 19px;
    background-color: #DDD;
    margin: 0.1em;
    border-radius: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.action.alt {
    color: #FFF;
    background-color: blue;
}