html,
body {
  border: 0;
  overflow: hidden;
  font-family: sans-serif;
}

body {
  background-color: #fff;
}

.elapsed-time {
  position: fixed;
  transform-origin: 100% 0%;
  right: 0;
  top: 0;
  width: 4em;
  margin-left: -3em;
  text-align: right;
  font-size: 40px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.board {
  position: fixed;
  transform-origin: 50% 50%;
  left: 45%;
  top: 38%;
  margin-left: -350px;
  margin-top: -350px;
}

div.paused {
  position: fixed;
  transform-origin: 50% 50%;
  position: fixed;
  text-align: center;
  width: 10em;
  height: 5em;
  line-height: 5em;
  font-size: 30px;
  left: 45%;
  top: 38%;
  margin-left: -5em;
  margin-top: -2.5em;
  display: none;
}

div.settings {
  display: none;
}

body.settings div.settings {
  display: block;
}

body.paused .board,
body.settings .board {
  display: none;
}

body.paused div.paused {
  display: block;
}

.numbers {
  position: fixed;
  transform-origin: 50% 100%;
  bottom: 0;
  left: 45%;
  width: 255px;
  margin-left: -127px;
}

.number {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 80px;
  background-color: #ddd;
  margin: 2px;
  border-radius: 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.number:hover,
.action:hover {
  background-color: #fdd;
}

.number-value {
  font-size: 40px;
}

.number-count {
  font-size: 22px;
  opacity: 0.5;
}

.actions {
  position: fixed;
  transform-origin: 100% 50%;
  top: 50%;
  right: 0;
  height: 552px;
  margin-top: -276px;
}

.action {
  position: relative;
  display: block;
  text-align: center;
  width: 5em;
  height: 3em;
  line-height: 3em;
  font-size: 19px;
  margin: 0.2em;
  border-radius: 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #ddd;
}

.action span {
  display: inline-block;
  margin-left: 0.2em;
  font-size: 23px;
}

.elapsed-time,
.action,
.number,
.paused {
  color: #333;
}

body.dark {
  background-color: #000;
}

body.dark .elapsed-time,
body.dark .action,
body.dark .number,
body.dark .paused {
  color: #ccc;
}

body.dark .action,
body.dark .number {
  background-color: #222;
}

.number.selected {
  border: 2px solid #444;
  margin: 0;
}

body.dark .number.selected {
  border: 2px solid #aaa;
}
