@font-face {
  font-family: 'quicksand';
  src: url('quicksand-regular.woff') format('woff');
}

@font-face {
  font-family: 'quicksand';
  src: url('quicksand-bold.woff') format('woff');
  font-weight: bold;
}
