@font-face {
  font-family: 'quicksand';
  src: url('quicksand-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'quicksand';
  src: url('quicksand-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
